/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
							/*TAYLORS ZONE START*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/



/* -------------------------------------;--- */
/* STRIP 1 SECTION 3 UNDERWORLD DESCRIPTION */
/* ---------------------------------------- */

#descriptionTitleFor_Strip1_Underworld{

	/* Width and Height */
	max-width: 50%;
	max-height: auto;

	/* Position */
	position: relative;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 22%;

	/* Padding and Margin */
/*	padding: 50% 50% 50% 50%;*/
  margin: 0% 0% 5% 0%;

	/* Other */
	text-align: center;
	color: #ffffff;
	font-family: 'Cormorant Unicase', serif;
	z-index: 101;
}

#smallTextBoxFor_Strip1_Underworld{
	/* Width and Height */
	max-width: 75%;
	max-height: auto;

	/* Position */
	position: relative;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 12.5%;
	/* Padding and Margin */
/*	padding: 50% 50% 50% 50%;*/
  margin: 0% 0% 5% 0%;

	/* Other */
	border: 2px solid black;
	background-color: rgba(0,0,100,50);
	text-align: center;
	z-index: 101;
}


/* -------------------------- */
/* STRIP 2 SECTION 3 CRAFTING */
/* -------------------------- */

#descriptionTitleFor_Strip2_Crafting{

	/* Width and Height */
	max-width: 50%;
	max-height: auto;

	/* Position */
	position: relative;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 22%;

	/* Padding and Margin */
/*	padding: 50% 50% 50% 50%;*/
  margin: 0% 0% 5% 0%;

	/* Other */
	text-align: center;
	color: #ffffff;
	font-family: 'Cormorant Unicase', serif;
	z-index: 101;
}

#smallTextBoxFor_Strip2_Crafting{
	/* Width and Height */
	max-width: 75%;
	max-height: auto;

	/* Position */
	position: relative;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 12.5%;
	/* Padding and Margin */
/*	padding: 50% 50% 50% 50%;*/
    margin: 0% 0% 5% 0%;

	/* Other */
	border: 2px solid black;
	background-color: rgba(0,0,100,50);
	text-align: center;
	z-index: 101;
}

/* --------------------------------------------- */
/* STRIP 3 SECTIONS 1, 2 and 3 GALLERY SLIDESHOW */
/* --------------------------------------------- */

.slideshowBoxes{

	/* Width and Height */
	max-width: 50%;
	max-height: auto;

	/* Position */
	position: relative;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 25%;

	/* Padding and Margin */
/*	padding: 50% 50% 50% 50%;*/
    margin: 0% 0% 25% 0%;

	/* Other */
	text-align: center;
	color: #ffffff;
	font-family: 'Cormorant Unicase', serif;
	z-index: 101;
}



/* MISC */

#unbulletPointify{
	list-style-type: none;
}


/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
							/*TAYLORS ZONE END*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

body{
	background-color: #31112d;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	color: #ffffff;
	font-family: 'Cormorant Unicase', serif;
    overflow-x: scroll;
    overflow-y: scroll;
}

/* UNIQUE ID's */



/* Navication Bar */

.nav{
	top:30%;
	list-style-type: none;
	width:10%;
	height: 15%;
	position: fixed;
	overflow: auto;
	z-index: 100;

}

.descriptionTitles{
	text-align: center;
	color: #ffffff;
	font-family: 'Cormorant Unicase', serif;
	list-style-type: none;
}

.nav li a {
	display: block;
	text-decoration-color: white;
	
}

.nav li a:hover {
  background-color: red;
  color: white;
}



/* Main Divs */


.home{
	width:100%;
	float:right;
}

/* Stuff inside the home div */

	.center {
		margin-top:18%;
		margin-right: auto;
		margin-left: auto;
	  	width: 50%;
	 	border: 3px solid green;
	 	padding: 10px;
	}

	#tital{
		margin-left: 24%;
	}

	.Obliscs {
		margin-left: 12%;
	}

	#Obliscs1 {
		position: absolute;
		left:14%;
		
	}

	#Obliscs2 {
		position: absolute;
		left:80%;
		top:14%;
	}

	#Obliscs3 {
		margin-left: 50%;
		margin-right: 50%;
	}





.Aboutgame{

	 left:100%;
	 bottom: 0%;
	 top: 0%;
	 width: 100%;
}

.gallory{

	 left:100%;
	 bottom: 0%;
	 top: 0%;
	 width: 100%;
}

.store{

	 left:200%;
	 bottom: 0%;
	 top: 0%;
	 width: 100%;
}

.credits{

	 left:300%;
	 bottom: 0%;
	 top: 0%;
	 width: 100%;

}
