body{
	background-color: #31112d;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	color: #ffffff;
	font-family: 'Cormorant Unicase', serif;
    overflow-x: scroll;
    overflow-y: scroll;
}

/* UNIQUE ID's */
#unbulletPointify
{
	list-style-type: none;
}

/* CLASS GROUPS */

.descriptionTitles
{
    margin-left: 0;
	text-align: left;
	color: #ffffff;
	font-family: 'Cormorant Unicase', serif;
	list-style-type: none;
}

.descriptionBoxSmall
{
	
}

.home{

	float:right;
}

.Aboutgame{

	 left:100%;
	 bottom: 0%;
	 top: 0%;
}

.gallory{

	 left:200%;
	 bottom: 0%;
	 top: 0%;
}

.store{

	 left:300%;
	 bottom: 0%;
	 top: 0%;
}

.credits{

	 left:400%;
	 bottom: 0%;
	 top: 0%;
}