body{
	background-color: #31112d;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	color: #ffffff;
	font-family: 'Cormorant Unicase', serif;
    overflow-x: scroll;
    overflow-y: scroll;
}

/* UNIQUE ID's */
#unbulletPointify{
/* Navication Bar */

ul{
	list-style-type: none;
	width:200px;
	height: 200px;
	position: fixed;
	overflow: auto;
	z-index: 100;

}

.descriptionTitles{
	text-align: center;
	color: #ffffff;
	font-family: 'Cormorant Unicase', serif;
	list-style-type: none;
}

.descriptionBoxSmall{

li a {
	display: block;
	text-decoration-color: white;
	
}

li a:hover {
  background-color: red;
  color: white;
}


/* UNIQUE ID's */
#unbulletPointify
{
	list-style-type: none;
}


/* CLASS GROUPS */

.descriptionBoxSmall
{
	/*LAYOUT*/

	/* Position (X, Y)*/
	position: relative;
	
	/* Depth (Z) */
	z-index: 101;

	/* Sizing */
	border: 2px solid black;
	margin: 25px 50px 25px;
	background-color: rgba(0,0,100,50);
	padding: 50px 50px;

	/*Content Alignemnt*/
	text-align: center;
}


.home{
	width:100%;
	float:right;
}

.Aboutgame{

	 left:100%;
	 bottom: 0%;
	 top: 0%;
}

.gallory{

	 left:200%;
	 bottom: 0%;
	 top: 0%;
}

.store{

	 left:300%;
	 bottom: 0%;
	 top: 0%;
}

.credits{

	 left:400%;
	 bottom: 0%;
	 top: 0%;

}

.descriptionTitles
{
    margin-left: 0;
	text-align: left;
	color: #ffffff;
	font-family: 'Cormorant Unicase', serif;
	list-style-type: none;
}
